<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteBase /articles
  RewriteRule ^(.*)/edit edit.php
  RewriteRule ^(.*)/delete delete.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI}      (^/articles/)
  RewriteRule . id.php
</IfModule>