<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteBase /users
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI}      (^/users/)
  RewriteRule . id.php
</IfModule>